.heroWrapper {
  width: 100%;
  min-height: 460px;
  background: #2F4858;
  position: relative;
  justify-content: flex-start;
  overflow: hidden;
}

.heroInner {
  margin-left: 150px;
  flex-direction: column;
  z-index: 10;
}

.dropDown {
  z-index: 100;
  position: absolute;
  left: 40px;
  top: 40px;
  padding: 20px 20px 20px 20px;
  border: none;
  border-radius: 10px;
  background: white;
  outline-style: none;
  cursor: pointer;
}

.headerText {
  letter-spacing: 0.5px;
  font-size: 2.5rem;
  color: #DDE6ED;
  font-weight: 600;
  width: 100%;
  margin-top: 5px;
}

.heroInner p {
  font-size: 18px;
  margin: 25px 0;
  color: #DDE6ED;
}

.herocreate {
  padding: 0.7rem 1.1rem;
  background: #33658A;
  color: white;
  font-weight: bold;
  font-size: 18px;
  margin-left: 0.2rem;
  cursor: pointer;
  outline-style: none;
  border-style: none;
  position: absolute;
}

.herologin {
  color: #DDE6ED;
}

.arrow {
  color: #38bc38;
}

@media (max-width: 900px) {
  .heroImage {
    width: 100%;
  }

  .heroImage img {
    transform: rotate(-90deg) scale(1.2);
    height: 100vw;
    object-fit: cover;
    position: absolute;
    left: 10%;
    bottom: 10px;
  }

  .heroWrapper {
    align-items: flex-end;
  }

  .heroInner {
    margin: 50px 20px;
    overflow: hidden;
    width: 100%;
  }

  .signup {
    margin-top: 20px;
    width: 0%;
  }

  .slogan {
    display: none;
  }

  .dropDown {
    display: none;
  }

  .headerText {
    font-size: 2rem;
  }
}

@media (max-width: 550px) {
  .inputLocation {
    width: 100%;
  }

  .heroImage img {
    bottom: 160px;
  }

  .headerText {
    width: 80%;
    font-size: 1.75rem;
  }
}

@media (max-width: 400px) {
  .headerText {
    width: 80%;
    font-size: 1.5rem;
  }
}