.contactUsWrapper {
    height: 525px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
}

.contactForm {
    margin: 10px -100px 0 0;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 50%;
}

.contactInputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contactInput {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 60%;
}

.contactTextArea {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
}

.contactInput label,
.contactTextArea label {
    font-weight: 600;
}

.contactInput input,
.contactTextArea textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 16px;
    resize: none;
    font-family: "Poppins", sans-serif;
}

.contactSubmit button {
    background-color: #33658A;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.contactInfoContainer {
    margin: 80px 0 0 0;
    width: 50%;
    padding: 20px;
}

.contactInfoContainer {
    width: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactInfoForm {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    padding: 0 20px;
}

.contactInfoHeader {
    text-align: center;
    margin-bottom: 20px;
}

.contactInfoDetails {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: justify;
}

.contactInfoContact {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contactInfoItem {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 500px;
}

.contactInfoItem p1 {
    font-weight: bold;
    font-size: 14px;
}

.contactInfoItem p {
    font-size: 14px;
}