.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 10px;
    width: 600px;
    padding-bottom: 30px;
}

.header{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding-top: 20px;
}

.loginHeaderText{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.logo{
    display: flex;
    justify-content: center;
    width: 60px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 0px;
}

.text{
    color: #33658A;
    font-size: 30px;
    font-weight: 700;
}

.inputs{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 410px;
    height: 70px;
    background: transparent;
    border-style: solid;
    border-color: #27374D;
    border-radius: 10px;
    border-width: 1px;
    position: relative;
}

.input input{
    height: 50px;
    width: 360px;
    background: none;
    border: none;
    outline: none;
    color: black;
    font-size: 19px;
    margin-left: 22px;
    padding: 1px;
    border: 2px solid transparent;
}

.input label{
    position: absolute;
    top: 0;
    left: 0;
    translate: 20px 19px;
    color: #999;
    background-color: white;
    border: 2px solid transparent;
    pointer-events: none;
    transition: translate 250ms,
                background-color 250ms,
                border-color 250ms;
}

.input:focus-within label,
.input:not(:has(:placeholder-shown))
label{
    translate: 20px -14px;
    color: black;
}

.input ::placeholder{
    color: transparent;
}

.password{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.remember-me{
    margin-top: 20px;
    color: #000;
    font-size: 18px;
}

.forgot-password{
    margin-top: 20px;
    color: #000;
    font-size: 18px;
    cursor: pointer;
}

.error-message{
    padding-left: 100px;
    padding-top: 1px;
    color: red;
}

.password-icon{
    transition: transform 0.2s ease-in-out;
    padding: 20px;
    font-size: 25px;
    display: flex;
}

.show-password-button{
    border: 0;
    outline: 0;
    background-color: transparent;
}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: white;
    background: #33658A;
    border-radius: 50px;
    border: 0;
    outline: 0;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0 24px;
}

.footer a{
    margin: 0 10px;
}