.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 150px;
    width: 600px;
    padding-bottom: 30px;
}

.header{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding-top: 20px;
}

.logo{
    display: flex;
    justify-content: center;
    width: 40px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
    color: #33658A;
    font-size: 35px;
    font-weight: 700;
}

.inputs{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 410px;
    height: 70px;
    background: transparent;
    border-style: solid;
    border-color: #27374D;
    border-radius: 10px;
    border-width: 1px;
}

.input input{
    height: 50px;
    width: 360px;
    background: transparent;
    border: none;
    outline: none;
    color: black;
    font-size: 19px;
    margin-left: 22px;
}

.forgot-password{
    padding-left: 100px;
    margin-top: 20px;
    color: #000;
    font-size: 18px;
}

.forgot-password span{
    color: #86BBD8;
    cursor: pointer;
}

.password-icon{
    transition: transform 0.2s ease-in-out;
}

.show-password-button:hover .password-icon{
    transform: rotate(360deg);
}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: white;
    background: #33658A;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0 24px;
}

.footer a{
    margin: 0 10px;
}