/* Navigation Bar CSS */
.navBar {
  display: flex;
  justify-content:center;
  align-items: center;
  width: auto;
  min-height: 70px;
  gap: 40em;

}

.navBarInner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 32px;
  margin-right: 32px;
}

.navLogoContainer {
  display: flex;
  align-items: center;
  height: 100%;
}

.navLogo {
  width: 180px;
  cursor: pointer;
  margin-top: 12px;
  margin-bottom: 12px;
}

.navProfile {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 10px;
}

.profileImg {
  aspect-ratio: 1/1;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.username {
  color: #27374D;
  font-size: 16px;
}

.dropdown-modal {
  position: absolute;
  top: 60px; /* Adjust mo nalang to par depende sa size */
  right: 20px; /* Adjust mo nalang to par depende sa size */
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  animation: fadeIn 0.3s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.dropdown-modal .profile-info {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.dropdown-modal .profile-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.dropdown-modal .profile-info .username {
  margin: 0;
  font-size: 16px;
}

.dropdown-modal ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dropdown-modal li {
  padding: 10px;
}

.dropdown-modal li button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

.dropdown-modal li button:hover {
  color: #007bff;
}

/* MIddle Section CSS */
.leftSide {
  display: flex;
  justify-content: flex-start;
  width: auto;

}